/************************************页面定义样式***************************************/
html {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
div,
span,
object,
h1,
h2,
h3,
h4,
p,
a,
b,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: #fff;
  color: #333;
  position: relative;
  font: 16px Microsoft YaHei, arial, "新宋体", sans-serif;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  outline: none;
  font: 16px;
}
a:link {
  color: #333;
}
a:visited {
  color: #333;
}
a:hover {
  color: #0e86d5;
  text-decoration: none;
  outline: none;
}
a:active,
a:focus {
  color: #FFFFFF;
}
input {
  padding: 0;
  margin: 0;
  outline: none;
}
img {
  border: none;
  background: none;
  vertical-align: middle;
}
ul,
ol,
li {
  list-style-type: none;
}
i {
  font-style: normal;
}
select,
input,
img,
select {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table,
th,
td {
  vertical-align: middle;
}
/************************************页面定义样式-结束***************************************/
html {
  width: 100%;
  height: 100%;
  display: inline;
}
html body {
  width: 100%;
  height: 100%;
  display: inline;
  background-color: black;
  position: relative;
}
.container {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background-color: #001632;
  position: relative;
  /************************************页面头部***************************************/
  /************************************页面头部-结束***************************************/
  /************************************左边切换卡***************************************/
  /************************************左边切换卡-结束***************************************/
}
.container .head {
  width: 100%;
  height: auto;
  padding: 2% 1.5% 2% 1.5%;
  box-sizing: border-box;
}
.container .head .log {
  width: 14%;
  height: auto;
  float: left;
}
.container .head .log img {
  width: 100%;
}
.container .head .system {
  float: right;
  color: #FFF;
  width: 16%;
  border-radius: 0%;
}
.container .head .system .time,
.container .head .system .system_user,
.container .head .system .system_admin {
  width: 33.3%;
  height: auto;
  float: left;
  display: block;
  text-align: center;
  border-right: 1px solid #000;
  box-sizing: border-box;
  background-image: url(../../img/system-bg.png);
  background-size: auto 100%;
  background-repeat-x: initial;
  color: #FFF;
  padding: 4px 0;
  cursor: default;
}
.container .head .system .time {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.container .head .system .system_user {
  position: relative;
  display: block;
}
.container .head .system .system_user a,
.container .head .system .system_user a:hover,
.container .head .system .system_user a:active,
.container .head .system .system_user a:visited,
.container .head .system .system_user a:link,
.container .head .system .system_user a:focus {
  color: #FFF;
}
.container .head .system .system_user span {
  display: block;
}
.container .head .system .system_user span a {
  display: block;
}
.container .head .system .system_user ul {
  position: absolute;
  width: 100%;
  height: auto;
  top: 29px;
  display: none;
  z-index: 100;
}
.container .head .system .system_user ul li {
  background-image: url(../../img/system-bg.png);
  background-size: auto 100%;
  display: block;
}
.container .head .system .system_user ul li a {
  padding: 3px 0;
  cursor: pointer;
  display: block;
}
.container .head .system .system_user ul li a:hover {
  color: #c6d9ff;
}
.container .head .system .system_user:hover ul {
  display: block;
}
.container .head .system .system_admin {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: none !important;
}
.container .head .system .system_admin a {
  display: block;
}
.container .head .system a:visited {
  color: #FFF;
}
.container .head .system a:link {
  color: #FFF;
}
.container .left {
  width: 6%;
  height: 36%;
  background-color: #000d26;
  margin-left: 1%;
  margin-top: 3%;
  text-align: center;
  float: left;
}
.container .left div {
  width: 100%;
  height: 33.3%;
  text-align: center;
  padding-top: 16%;
  box-sizing: border-box;
}
.container .left div a {
  display: block;
}
.container .left div img {
  width: 65.8%;
}
.container .left div:hover {
  cursor: pointer;
  background-image: url(../../img/left-bg.png);
  background-repeat: repeat-x;
}
.container .left .active {
  background-image: url(../../img/left-bg.png);
  background-repeat: repeat-x;
}
.container .right {
  margin: 60px 0 0 15px;
  float: left;
  width: 90%;
  height: auto;
  background: #001632;
}
.container .right .alert1 {
  line-height: 60px;
  padding-left: 30px;
  color: #f0f0f0;
  height: 60px;
  background: #032045;
}
.container .right .alert2 {
  padding-left: 30px;
  height: 70px;
  line-height: 70px;
  color: #f0f0f0;
  background: #042856;
}
.container .right .alert2 p {
  position: relative;
}
.container .right .alert2 p #mydatepicker1 {
  background-image: url(../../img/time_icon.png);
  background-repeat: no-repeat;
  background-position: 12px 3px;
}
.container .right .alert2 .time_icon {
  position: absolute;
}
.container .right .alert2 .time_icon #mydatepicker2 {
  background-image: url(../../img/time_icon.png);
  background-repeat: no-repeat;
  background-position: 12px 3px;
}
.container .right .alert2 .start,
.container .right .alert2 .stop {
  color: #3e6fae;
}
.container .right .alert2 .button1,
.container .right .alert2 .button2 {
  background: #217ceb;
  color: #f0f0f0;
  width: 55px;
  height: 27px;
  border: none;
  border-radius: 15px;
  margin-left: 20px;
}
.container .right .alert2 .active {
  height: 25px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 11px;
  background: #032045;
  color: #f0f0f0;
  text-align: center;
  padding-left: 31px;
  width: 121px;
  border: none;
}
.container .right .alert3 {
  color: #f0f0f0;
  height: 85%;
  background: #032045;
  margin-top: 25px;
  overflow: hidden;
}
.container .right table {
  width: 100%;
  color: #f0f0f0!important;
}
.container .right th,
.container .right td {
  color: #f0f0f0;
  vertical-align: middle;
  height: 40px;
}
.container .right th {
  height: 60px;
}
.container .right tr:nth-child(even) {
  background: #042856;
}
.container .right tr:nth-child(odd) {
  background: #05336d;
}
.container .right .alert_tr {
  color: #f0f0f0!important;
  background: #032045 !important;
  font-size: 16px !important;
}
.container .right tr {
  color: #f0f0f0;
  text-align: center;
  font-size: 14px;
}
.container .right .alert4 {
  color: #f0f0f0;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 30px;
}
.container .right .alert4 .alert41 {
  float: right;
  margin-right: 90px;
}
.container .right .alert4 .alert41 > li {
  float: left;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.container .right .alert4 .alert41 > li:hover {
  background-color: #217ceb;
}
.container .right .alert4 .record:hover {
  /*background-color: #7b8182;*/
  color: #217ceb;
  cursor: pointer;
}
.container .right .alert4 .alert41 > li:nth-child(3),
.container .right .alert4 .alert41 > li:nth-child(4),
.container .right .alert4 .alert41 > li:nth-child(5),
.container .right .alert4 .alert41 > li:nth-child(6),
.container .right .alert4 .alert41 > li:nth-child(7),
.container .right .alert4 .alert41 > li:nth-child(8) {
  width: 30px;
}
.container .right .alert4 .alert41 > li:nth-child(5) {
  background: rgba(33, 124, 235, 0.7);
}
.container .right .alert4 .alert41:after {
  display: block;
  content: "";
  clear: both;
}
.container .right .alert4:after {
  display: block;
  content: "";
  clear: both;
}
