<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('红外设备信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                        <!--<li>
                                <p>父id：</p>
                                <input type="text" name="parentsId"/>
                            </li>
                            <li>
                                <p>祖级列表：</p>
                                <input type="text" name="ancestors"/>
                            </li>  -->
                            
                            <li>
                                <p>红外名称：</p>
                                <input type="text" name="infraredName"/>
                            </li>
                            <li>
                                <p>显示顺序：</p>
                                <input type="text" name="orderNum"/>
                            </li>
                            <li>
                                <p>通道id：</p>
                                <input type="text" name="channelId"/>
                            </li>
                            <li>
                                <p>状态：</p>
                                <select name="infraredStatus" th:with="type=${@dict.getType('infrared_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:infraredinfo:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="system:infraredinfo:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-info" id="expandAllBtn">
                    <i class="fa fa-exchange"></i> 展开/折叠
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-tree-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var addFlag = [[${@permission.hasPermi('system:infraredinfo:add')}]];
        var editFlag = [[${@permission.hasPermi('system:infraredinfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:infraredinfo:remove')}]];
        var infraredStatusDatas = [[${@dict.getType('infrared_status')}]];
        var prefix = ctx + "system/infraredinfo";

        $(function() {
            var options = {
                code: "infraredId",
                parentCode: "parentsId",
                expandColumn: "3",
                uniqueId: "infraredId",
                url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "红外设备信息",
                columns: [{
                    field: 'selectItem', 
                    radio: true
                },
                //{
                   // field : 'parentsId', 
                   // title : '父id',
                   // align: 'left'
               // },
               // {
                   // field : 'ancestors', 
                   // title : '祖级列表',
                   // align: 'left'
              //  },
                {
                    field : 'infraredName', 
                    title : '红外名称',
                    align: 'left'
                },
                {
                    field : 'orderNum', 
                    title : '显示顺序',
                    align: 'left'
                },
                {
                    field : 'channelId', 
                    title : '通道id',
                    align: 'left'
                },
                {
                    field : 'infraredStatus', 
                    title : '状态',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(infraredStatusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.infraredId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.infraredId + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.infraredId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.treeTable.init(options);
        });
    </script>
</body>
</html>