<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dejiacheng.system.mapper.SysChannelInfoMapper">
    
    <resultMap type="SysChannelInfo" id="SysChannelInfoResult">
        <result property="channelId"    column="channel_id"    />
        <result property="ncameratype"    column="nCameraType"    />
        <result property="channelcode"    column="channelCode"    />
        <result property="channelname"    column="channelName"    />
        <result property="nchnltype"    column="nChnlType"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSysChannelInfoVo">
        select channel_id, nCameraType, channelCode, channelName, nChnlType, status from sys_channel_info
    </sql>

    <select id="selectSysChannelInfoList" parameterType="SysChannelInfo" resultMap="SysChannelInfoResult">
        <include refid="selectSysChannelInfoVo"/>
        <where>  
            <if test="ncameratype != null "> and nCameraType like concat('%', #{ncameratype}, '%')</if>
            <if test="channelcode != null  and channelcode != ''"> and channelCode = #{channelcode}</if>
            <if test="channelname != null  and channelname != ''"> and channelName like concat('%', #{channelname}, '%')</if>
            <if test="nchnltype != null "> and nChnlType like concat('%', #{nchnltype}, '%')</if>
            <if test="status != null "> and status like concat('%', #{status}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysChannelInfoById" parameterType="Long" resultMap="SysChannelInfoResult">
        <include refid="selectSysChannelInfoVo"/>
        where channel_id = #{channelId}
    </select>
        
    <insert id="insertSysChannelInfo" parameterType="SysChannelInfo" useGeneratedKeys="true" keyProperty="channelId">
        insert into sys_channel_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ncameratype != null ">nCameraType,</if>
            <if test="channelcode != null  and channelcode != ''">channelCode,</if>
            <if test="channelname != null  and channelname != ''">channelName,</if>
            <if test="nchnltype != null ">nChnlType,</if>
            <if test="status != null ">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ncameratype != null ">#{ncameratype},</if>
            <if test="channelcode != null  and channelcode != ''">#{channelcode},</if>
            <if test="channelname != null  and channelname != ''">#{channelname},</if>
            <if test="nchnltype != null ">#{nchnltype},</if>
            <if test="status != null ">#{status},</if>
         </trim>
    </insert>

    <update id="updateSysChannelInfo" parameterType="SysChannelInfo">
        update sys_channel_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="ncameratype != null ">nCameraType = #{ncameratype},</if>
            <if test="channelcode != null  and channelcode != ''">channelCode = #{channelcode},</if>
            <if test="channelname != null  and channelname != ''">channelName = #{channelname},</if>
            <if test="nchnltype != null ">nChnlType = #{nchnltype},</if>
            <if test="status != null ">status = #{status},</if>
        </trim>
        where channel_id = #{channelId}
    </update>

    <delete id="deleteSysChannelInfoById" parameterType="Long">
        delete from sys_channel_info where channel_id = #{channelId}
    </delete>

    <delete id="deleteSysChannelInfoByIds" parameterType="String">
        delete from sys_channel_info where channel_id in 
        <foreach item="channelId" collection="array" open="(" separator="," close=")">
            #{channelId}
        </foreach>
    </delete>
    
</mapper>